<a href="https://colab.research.google.com/github/fred-ykv/Value-Investing-In-Python/blob/master/Carteira_Growth_Stocks_2023_An%C3%A1lise_de_Empresas_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ricos pelo Acaso

Link para o vídeo: https://youtu.be/e_ZRDG4F4ZA

# Importando Bibliotecas

In [3]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

import requests

# Obtendo e tratando os dados

In [4]:
url = 'http://www.fundamentus.com.br/resultado.php'

In [5]:
header = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"
 }

r = requests.get(url, headers=header)

In [6]:
df = pd.read_html(r.text,  decimal=',', thousands='.')[0]

In [7]:
df['LPA'] = df['Cotação'] / df['P/L']

In [8]:
df

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a,LPA
0,PMET3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"0,00%","0,00%",0.00,"0,00%","4,10%",0.00,-2.908630e+08,0.00,"37,74%",NaN
1,POPR4,10.17,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"8,66%","5,65%",1.08,"15,25%","19,93%",0.00,5.458030e+08,0.82,"30,93%",inf
2,MNSA4,0.47,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"-208,15%","-362,66%",3.63,"-13,50%","145,70%",0.00,-9.105000e+06,-6.52,"-41,11%",inf
3,CSTB4,147.69,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"40,85%","28,98%",2.60,"22,40%","20,11%",0.00,8.420670e+09,0.14,"31,91%",inf
4,IVTT3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"0,00%","0,00%",0.00,"0,00%","-0,40%",0.00,1.083050e+09,0.00,"20,67%",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,UBBR11,14.75,1201.81,3.91,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"0,00%","0,00%",0.00,"0,00%","0,33%",0.00,1.031720e+10,0.00,"10,58%",0.012273
983,UBBR3,18.00,1466.61,4.77,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"0,00%","0,00%",0.00,"0,00%","0,33%",0.00,1.031720e+10,0.00,"10,58%",0.012273
984,DOHL4,5.44,2524.59,0.58,0.632,"0,00%",0.418,0.91,-44.90,1.59,...,"-1,41%","0,03%",6.64,"-1,06%","0,02%",28439.70,7.120350e+08,0.17,"10,08%",0.002155
985,DOHL3,10.00,4640.80,1.06,1.162,"0,00%",0.768,1.67,-82.54,2.92,...,"-1,41%","0,03%",6.64,"-1,06%","0,02%",24.39,7.120350e+08,0.17,"10,08%",0.002155
986,MEGA3,11.13,7912.10,1.37,2.788,"0,00%",0.412,-20.03,12.37,-0.75,...,"22,53%","0,16%",0.88,"3,63%","0,02%",12454800.00,5.066810e+09,1.71,"0,00%",0.001407

###Número de Empresas listadas

In [9]:
df.shape

(987, 22)

In [10]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

In [11]:
df

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a,LPA
0,PMET3,0.00,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.0000,0.0000,0.00,0.0000,0.0410,0.00,-2.908630e+08,0.00,0.3774,NaN
1,POPR4,10.17,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.0866,0.0565,1.08,0.1525,0.1993,0.00,5.458030e+08,0.82,0.3093,inf
2,MNSA4,0.47,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,-2.0815,-3.6266,3.63,-0.1350,1.4570,0.00,-9.105000e+06,-6.52,-0.4111,inf
3,CSTB4,147.69,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.4085,0.2898,2.60,0.2240,0.2011,0.00,8.420670e+09,0.14,0.3191,inf
4,IVTT3,0.00,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.0000,0.0000,0.00,0.0000,-0.0040,0.00,1.083050e+09,0.00,0.2067,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,UBBR11,14.75,1201.81,3.91,0.000,0.0,0.000,0.00,0.00,0.00,...,0.0000,0.0000,0.00,0.0000,0.0033,0.00,1.031720e+10,0.00,0.1058,0.012273
983,UBBR3,18.00,1466.61,4.77,0.000,0.0,0.000,0.00,0.00,0.00,...,0.0000,0.0000,0.00,0.0000,0.0033,0.00,1.031720e+10,0.00,0.1058,0.012273
984,DOHL4,5.44,2524.59,0.58,0.632,0.0,0.418,0.91,-44.90,1.59,...,-0.0141,0.0003,6.64,-0.0106,0.0002,28439.70,7.120350e+08,0.17,0.1008,0.002155
985,DOHL3,10.00,4640.80,1.06,1.162,0.0,0.768,1.67,-82.54,2.92,...,-0.0141,0.0003,6.64,-0.0106,0.0002,24.39,7.120350e+08,0.17,0.1008,0.002155
986,MEGA3,11.13,7912.10,1.37,2.788,0.0,0.412,-20.03,12.37,-0.75,...,0.2253,0.0016,0.88,0.0363,0.0002,12454800.00,5.066810e+09,1.71,0.0000,0.001407

## Analisando os dados

#### - Buscando Small Caps - Buscar os indicadores corretos

In [12]:
df = df[df['Liq.2meses'] > 1000]

In [13]:
df.shape

(421, 22)

In [14]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,200)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:199].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:199].values
ranking['Liq. Corr.'] = df[ df['Liq. Corr.'] >= 1.5 ].sort_values(by=['Liq. Corr.'])['Papel'][:199].values
ranking['ROE'] = df.sort_values(by=['ROE'], ascending=False)['Papel'][:199].values

In [15]:
ranking

     pos EV/EBIT   ROIC Liq. Corr.    ROE
0      1  GPIV33  ADHM3      LPSB3  MGEL4
1      2   ENJU3  PSSA3      VAMO3  MNDL3
2      3   PSSA3  SOND5      BRKM5  NEXP3
3      4   HAGA4  UNIP6      BRKM6  BEEF3
4      5   MNPR3  UNIP5      TTEN3  ATMP3
..   ...     ...    ...        ...    ...
194  195   TOTS3  ALLD3      CEBR6  HBTS5
195  196   TAEE3  CALI3      CEBR3  EUCA4
196  197  TAEE11  DIRR3      CEBR5  EUCA3
197  198   TAEE4  YDUQ3      LIPR3  TOTS3
198  199   UCAS3  MDIA3      DOHL4  PSSA3

[199 rows x 5 columns]

In [16]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [17]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [18]:
c = ranking.pivot_table(columns='Liq. Corr.', values='pos')

In [19]:
d = ranking.pivot_table(columns='ROE', values='pos')

In [20]:
t = pd.concat([a,b,c,d])
t

,AERI3,AGXY3,ALLD3,ALPK3,ALUP11,ALUP3,ALUP4,AMBP3,AMER3,ANIM3,...,PLAS3,PMAM3,RNEW11,RNEW3,RNEW4,RPMG3,SANB11,SANB3,SANB4,SNSY5
pos,134.0,38.0,67.0,161.0,106.0,103.0,107.0,136.0,184.0,164.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pos,140.0,96.0,195.0,170.0,160.0,159.0,161.0,150.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pos,62.0,NaN,33.0,NaN,91.0,93.0,92.0,148.0,102.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.0,6.0,10.0,9.0,11.0,91.0,185.0,183.0,184.0,132.0

In [21]:
rank = t.dropna(axis=1).sum()
rank

BEEF3    182
BLAU3    486
CALI3    386
CAMB3    159
CEBR3    384
        ...
UNIP6    163
VAMO3    409
VITT3    440
VULC3    434
WLMM4    418
Length: 76, dtype: int64

In [22]:
rank.sort_values()[:20]

EPAR3      89
KEPL3      94
CAMB3     159
UNIP3     162
UNIP6     163
UNIP5     167
RSUL4     175
BEEF3     182
SOND5     223
GOAU3     241
GOAU4     243
GGBR3     243
GGBR4     249
LEVE3     261
SUZB3     265
MTSA4     272
FESA4     279
KLBN3     289
KLBN4     290
KLBN11    291
dtype: int64

In [26]:
from tabulate import tabulate

# Filtrar empresas únicas
empresas_unicas = set()
resultado = []

for empresa in rank.sort_values()[:20].index:
    sigla = empresa[:4]  # Obtém as quatro primeiras letras da sigla
    if sigla not in empresas_unicas:
        empresas_unicas.add(sigla)
        resultado.append([empresa, rank[empresa]])

# Exibir o resultado como tabela
print(tabulate(resultado, headers=["Empresa", "Ranking"], tablefmt="pretty"))

+---------+---------+
| Empresa | Ranking |
+---------+---------+
|  EPAR3  |   89    |
|  KEPL3  |   94    |
|  CAMB3  |   159   |
|  UNIP3  |   162   |
|  RSUL4  |   175   |
|  BEEF3  |   182   |
|  SOND5  |   223   |
|  GOAU3  |   241   |
|  GGBR3  |   243   |
|  LEVE3  |   261   |
|  SUZB3  |   265   |
|  MTSA4  |   272   |
|  FESA4  |   279   |
|  KLBN3  |   289   |
+---------+---------+